@font-face { font-family: 'Z'; src: url('carbon.ttf'); }
@font-face { font-family: 'W'; src: url('SpecialElite.ttf'); }
@font-face { font-family: 'N'; src: url('NeoPrintM319.otf'); }

/* @group Common */

* { margin: 0; padding: 0; }
html { }

body {
  background-color: #FFF;
  font: 2em  W, Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  margin-left:0px;
  margin-right:0px;
}

h1, h2, h3, h4, h5, h6 {
  font: 100%  Z, Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
}

h1 { margin-top: 20px; font-size: 1.5em; }
h2 { margin-top: 20px; font-size: 1.3em; }

p { margin: 1em 0; }

a         { text-decoration:none; color:#4F7A8F; }
a:hover   { color: #000; text-decoration:underline;}
a:visited { color:#4F7A8F; }

/* @end */

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  margin-left:40px;
  float:left;
}

ul.posts.blurb-posts { }

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}


article > div {
 min-width:80ex;
 max-width:80ex;
 margin-left:auto;
 margin-right:auto;
}

article {
  -moz-column-width: 80ex;
  -moz-column-gap: 4em;
  -moz-column-rule-width: 1px;
  -moz-column-rule-color: #CCC;
  -moz-column-rule-style: dashed;

  -webkit-column-width: 80ex;
  -webkit-column-gap: 4em;
  -webkit-column-rule-width: 1px;
  -webkit-column-rule-color: #CCC;
  -webkit-column-rule-style: dashed;

  column-width: 80ex;
  column-gap: 4em;
  column-rule-width: 1px;
  column-rule-color: #CCC;
  column-rule-style: dashed;

  text-align: justify;
}

article.skinny {
  -moz-column-width: 300px;
  -moz-column-gap: normal;
  -webkit-column-width: 300px;
  -webkit-column-gap: normal;
  column-width: 300px;
  column-gap: normal;
}

article.skinny > div {
 min-width:300px;
 max-width:300px;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 1.2em;
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.5em;
}



.site .header a {
  font-weight: bold;
  text-decoration: none;
}

div.header {
  font-size:2em;
  position: relative;
  margin-bottom:40px;
}

div.toc div.header { 
  background:rgb(32,32,32);
  font-size:4em; 
  line-height:1em;
  color:rgb(205,205,205);
  padding-top:20px;
  padding-left:20px;
}

ul.posts span.category {
  font-size: 1.2em;
}

div.title {
  font-size: 2em;
  line-height: 1em;
  padding-top:20px;
  padding-left:10px;

  /* The transition on mouse out */
  -webkit-transition: background-color 1s,
                      color 1s; 
}

div.title:hover {
  background:rgb(32,32,32);
  color:rgb(256,256,256); 
  text-shadow: -3px 3px 3px #444;
  
  /* The transition on mouse in */  
  -webkit-transition: background-color 10s ease 3s,
                      color 5s ease 3s, 
                      text-shadow 0.6s ease; 
}

.site .header h1.title {
  height: 71px;
  font-size: 2em;
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

div.footer { clear: both; }

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  width: 100%;
}

.site .footer .contact, 
.site .footer .comments {
  margin-right: 3em;
  margin-left: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

div.oneColumnPost {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

div.post {
  margin-left:38px;
  margin-right:38px;
}

div.blurb div.post {
  font: 2em  N, Helvetica, Arial, sans-serif;
  text-shadow: -.07em .07em #AAA;
}

div.blurb div.comments p {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}


/* Center images in column */
div.postContent p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  font: 0.7em Monaco, Courier, Arial, sans-serif;
  width:600px;
  overflow-x: scroll;
  display: block;
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* vim: set foldmethod=marker:
 * vim: set foldmarker=@group,@end:
 * vim: set foldlevel=1:
 * vim: set nofoldenable: */
