---
layout: mainPage 
title: Not Cocoa Mondo
---

<div id="home">
  <ul class="posts">
      <li><span class="category">_~=# Fairly Trivial #=~_</span></li>
    {% for post in site.posts %}
    {%    if post.layout != 'blurb' %}
      <li>
          <span class="pub_date">{{ post.date | date_to_string }}</span>  
          <span class="title">
             <a href="{{ post.url }}">{{ post.title }}</a>
          </span>
      </li>
    {%  endif  %}
    {%  endfor %}
  </ul>

  <ul class="posts blurb-posts">
      <li><span class="category">_~=# Very Trivial #=~_</span></li>
    {% for post in site.posts %}
    {%    if post.layout == 'blurb' %}
      <li>
          <span class="pub_date">{{ post.date | date_to_string }}</span>  
          <span class="title">
             <a href="{{ post.url }}">{{ post.title }}</a>
          </span>
      </li>
    {%  endif  %}
    {%  endfor %}
  </ul>

</div>
