<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
                <a href="/">
                  <div class="title"> &lt;- {{ site.name }} </div>
                </a>
          </div>

          <div class="oneColumnPost blurb">
            <p class="meta">{{ page.date | date_to_string }}</p>
            <div class="post"> {{ content }} </div>
          </div>

          <div class="footer blurb">
            <div class="contact">
              <p> Matthieu Cormier </p>
              <div class="comments">
              <p> This is not a post.  It is a blurb. It is something
                  that I believe is either witty or important in my
                  self-centred view of the world. Similar to the status 
                  messages on those social media sites.  Where people
                  tweet and twat and post and share and like and all that
                  jazz and then complain when the terms of service get
                  changed on them. And then do nothing about it. </p>
              </div>
            </div>
         </div>
        </div>

    </body>
</html>
