<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

        {% if page.style %}
          <link rel="stylesheet" href="{{page.style}}">
        {% endif %}

        {% if page.customStyle %}
          <style type="text/css">
            {{ page.customStyle }}
          </style>
        {% endif %}

    </head>
    <body>

        <div class="site">
          <div class="header">
                <a href="/">
                  <div class="title"> &lt;- {{ site.name }} </div>
                </a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p> Matthieu Cormier </p>
            </div>
             <div class="comments">
              <p> Comments? I love comments. Contact me and 
                   I'll post insightful commentary and criticism. There is, however,
                   a 140 minimum character requirement for all comments, unless
                   you submit something truly beautiful, concise, and koan like.
                   This stipulation is just a polite way of saying I don't plan
                   on publishing "Kewl that's awesome bro",  or "Your mother wears
                   army boots". There is no automated form that a 
                   spam bot can submit to and cause tedium on my part. 
                   If there is no comment form, how will you comment? 
                   Well if your comment is in fact thoughtful, then you 
                   also have the brain power to find one of the multitude
                   of communications channels I use and ping me. I am not a 
                   recluse and can be found  
                   blathering out on those social interwebs. Think outside of the 
                   box dude,  answering 
                   machine messages will be accepted as a form of blog comment submission. 
                   Maybe you will get some gump satisfaction out of making
                   me transcribe your inebriated rant, which does in fact touch
                   on some important points.
             </p>
            </div>
         </div>
        </div>

    </body>
</html>
